@import '../components/Navbar/navbar.scss';
@import '../components/StartPage/startPage.scss';
@import '../components/RegPage/regPage.scss';
@import '../components/AddPhotos/addPhotos.scss';
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

html {
    height: 100%;
}

* {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

#root {
    height: 100%;
}

button {
    cursor: pointer;
}


.background {
    height: 100%;
    overflow: auto;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
        }
    &__wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
}

.ant-select {
    padding: 0;
    border: none;
    height: 50px !important;
    &-selector {
        border-radius: 12px !important;
        border: 1px #7C8591 solid !important;
        padding: 0 15px !important;
    }
    &-selection-item {
        font-size: 18px;
    }
    &-item {
        &-option {
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            &-content {
                font-size: 18px;
            }
        }
    }
}